<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Image_Sorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Mk0.Software.ImageSorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
      <Image_Sorter.Properties.Settings>
        <setting name="targetPath" serializeAs="String">
          <value/>
        </setting>
        <setting name="lastPath" serializeAs="String">
          <value/>
        </setting>
        <setting name="singleInstance" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="lastWidth" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="lastHeight" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="lastTop" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="lastLeft" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="fileAssociation" serializeAs="String">
          <value>False</value>
        </setting>
      </Image_Sorter.Properties.Settings>
      <Mk0.Software.ImageSorter.Properties.Settings>
        <setting name="targetPath" serializeAs="String">
          <value />
        </setting>
        <setting name="lastPath" serializeAs="String">
          <value />
        </setting>
        <setting name="singleInstance" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="lastWidth" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="lastHeight" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="lastTop" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="lastLeft" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="fileAssociation" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="zoom" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="showInfo" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="fading" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="fadingSpeed" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="fullScreen" serializeAs="String">
          <value>False</value>
        </setting>
      </Mk0.Software.ImageSorter.Properties.Settings>
    </userSettings>
</configuration>
