<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mk0.gui.banner" version="1.0.0" targetFramework="net472" />
  <package id="mk0.tools.calculation" version="1.0.0" targetFramework="net472" />
  <package id="mk0.tools.imagecropper" version="1.0.0" targetFramework="net472" />
  <package id="mk0.tools.images" version="1.0.4" targetFramework="net472" />
  <package id="mk0.tools.randomization" version="1.0.0" targetFramework="net472" />
</packages>